# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environments
venv/
.env
*.env

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
