# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Env / IDE ---
.venv/
venv/
.env
.env.*
*.code-workspace
.vscode/
.idea/

# --- Django / build ---
db.sqlite3
media/
staticfiles/
collectstatic/
*.log

# --- OS ---
.DS_Store
Thumbs.db
